<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HBNB</title>
    <link rel="stylesheet" href="../static/styles/4-common.css?{{ cache_id }}">
    <link rel="stylesheet" href="../static/styles/3-header.css?{{ cache_id }}">
    <link rel="stylesheet" href="../static/styles/1-filters.css?{{ cache_id }}">
    <link rel="stylesheet" href="../static/styles/5-footer.css?{{ cache_id }}">
    
    <!-- Import JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Import custom JavaScript with cache_id -->
    <script src="../static/scripts/1-hbnb.js?{{ cache_id }}"></script>
</head>
<body>
    <header>
        <div class="logo">
            <h1>HBNB</h1>
        </div>
    </header>
    
    <div class="filters">
        <h3>Filters</h3>
        <div class="amenities">
            <h4>Amenities</h4>
            <ul>
                <li>
                    <input type="checkbox" data-id="1" data-name="Wi-Fi" style="margin-right: 10px;">
                    Wi-Fi
                </li>
                <li>
                    <input type="checkbox" data-id="2" data-name="Pool" style="margin-right: 10px;">
                    Pool
                </li>
                <li>
                    <input type="checkbox" data-id="3" data-name="Air conditioning" style="margin-right: 10px;">
                    Air conditioning
                </li>
                <li>
                    <input type="checkbox" data-id="4" data-name="Kitchen" style="margin-right: 10px;">
                    Kitchen
                </li>
            </ul>
        </div>
    </div>
    
    <section class="places">
        <!-- Places will be dynamically loaded here -->
    </section>
    
    <footer>
        <p>&copy; 2024 HBNB</p>
    </footer>
</body>
</html>
